<div class="card m-auto" style="width: 18rem;">
    <img [src]="productAttr.image" height="200" class="px-4" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{productAttr.name | nameLimit}}</h5>
        <p class="card-text">{{productAttr.description | seeMore}}</p>
        <p>{{productAttr.createdAt | date : 'dd/MM/yyyy'}}</p>
        <button (click)="goToProductDetials(productAttr.id)" class="btn w-50 btn-primary">view Detials</button>
        <button (click)="changeCounterVal()" class="btn w-50 btn-success">Add To Cart</button>

    </div>
</div>