<th scope="row">
    <img width="200" [src]="movieAttr.poster_path" alt="">
    <div class="text-center py-3 "><button (click)="goToMovieDetials(movieAttr.id)"
            class=" w-100 text-capitalize  btn btn-primary">more details</button></div>
</th>

<td>{{movieAttr.title}}</td>
<td width="350">{{movieAttr.overview}}</td>
<td>{{movieAttr.release_date | date : 'dd/MM/yyyy'}}</td>
<td
    [ngClass]="{'text-success': movieAttr.stock_avaliable == true  ,'text-danger' : movieAttr.stock_avaliable == false  }">
    {{movieAttr.stock_avaliable | stockAvailability }}
</td>